.cases__subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: calc(24px + 12 * (100vw / 1330));
  line-height: 126%;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 35px;
}
@media screen and (max-width: 768px) {
  .cases__subtitle {
    font-size: calc(24px + 12 * (100vw / 768));
  }
}
@media screen and (max-width: 370px) {
  .cases__subtitle {
    font-size: calc(22px + 12 * (100vw / 320));
  }
}
