.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: calc(49% / (1330 / 100));
  margin-right: calc(46% / (1330 / 100));
  padding-top: calc(11% / (1330 / 100));
  margin-bottom: calc(225% / (1330 / 100));
}
