.contact__email {
  font-style: normal;
  font-weight: 400;
  font-size: calc(12px + 6 * (100vw / 1330));
  line-height: 156%;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #808080;
  background: #ffffff;
  border: 1px solid #f5f5f5;
  border-radius: 0px;
  margin-left: 30px;
  margin-bottom: 60px;
  margin-right: 30px;
}
@media screen and (max-width: 768px) {
  .contact__email {
    font-size: calc(12px + 6 * (100vw / 768));
    margin-bottom: 53px;
  }
}
@media screen and (max-width: 320px) {
  .contact__name {
    font-size: calc(10px + 6 * (100vw / 320));
  }
}
