.blog__button {
  margin-left: calc(72.7% / (1330 / 100));
  background: #0284d0;
  font-style: normal;
  font-weight: 400;
  font-size: calc(12px + 6 * (100vw / 1330));
  line-height: 156%;
  padding: 11px 40px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
.blog__button:hover {
  background: #0c6ba2;
}
