.header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../../images/bgda.png) no-repeat;

  background-position: center center;
  background-size: cover;
  object-position: 0 0;
}
@media screen and (max-width: 780px) {
  .header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../../images/780.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    object-position: 0 0;
  }
}
@media screen and (max-width: 320px) {
  .header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../../images/320.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    object-position: 0 0;
  }
}
