.blog__subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: calc(26px + 12 * (100vw / 1330));
  line-height: 126%;
  margin: 0;
  margin-left: 30px;
  margin-bottom: 26px;

  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .blog__subtitle {
    font-size: calc(26px + 12 * (100vw / 768));
  }
}
@media screen and (max-width: 320px) {
  .blog__subtitle {
    font-size: calc(23px + 12 * (100vw / 320));
  }
}
