.about__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
@media screen and (max-width: 560px) {
  .about__info {
    grid-template-columns: 1fr;
    grid-template-rows: 320px 1fr;
  }
}
@media screen and (max-width: 375px) {
  .about__info {
    grid-template-columns: 1fr;
    grid-template-rows: 220px 1fr;
  }
}
