.footer__title {
  font-style: normal;
  font-weight: 400;
  font-size: calc(12px + 6 * (100vw / 1330));
  line-height: 156%;

  text-align: center;

  color: #ffffff;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .footer__title {
    font-size: calc(12px + 6 * (100vw / 768));
  }
}
@media screen and (max-width: 320px) {
  .footer__title {
    font-size: calc(10px + 6 * (100vw / 320));
    margin-bottom: 20px;
  }
}
