.header__mark-green {
  font-style: normal;
  font-weight: 400;
  font-size: calc(25px + 10 * (100vw / 1330));
  line-height: 120%;
  color: #ffffff;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .header__mark-green {
    font-size: calc(25px + 10 * (100vw / 768));
  }
}
@media screen and (max-width: 320px) {
  .header__mark-green {
    font-size: calc(22px + 10 * (100vw / 320));
  }
}
