.blog__title {
  font-style: normal;
  font-weight: 400;
  font-size: calc(14px + 6 * (100vw / 1330));
  line-height: 165%;
  margin: 0;
  margin-top: calc(271.4% / (1330 / 100));
  margin-left: calc(72.7% / (1330 / 100));
  margin-bottom: calc(12.3% / (1330 / 100));

  color: #ffffff;
}
