.header__button {
  font-style: normal;
  font-weight: 400;
  font-size: calc(12px + 6 * (100vw / 1330));
  line-height: 156%;

  text-align: center;
  background: #28a745;
  border-radius: 5px;
  margin: 0;
  max-width: 165px;
  width: 100%;
  color: #ffffff;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
}
.header__button:hover {
  background-color: #228f3b;
}
