.about__info-subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: calc(26px + 12 * (100vw / 1330));
  line-height: 126%;
  color: #ffffff;
  margin: 0;
  margin-left: 30px;
}
@media screen and (max-width: 768px) {
  .about__info-subtitle {
    font-size: calc(26px + 12 * (100vw / 768));
    margin-right: calc(150% / (384 / 100));
  }
}
