.who__title {
  font-style: normal;
  font-weight: 400;
  font-size: calc(14px + 6 * (100vw / 1330));
  line-height: 165%;
  margin: 0;
  margin-top: 49px;
  margin-bottom: 16px;

  text-align: center;

  color: #333333;
}
@media screen and (max-width: 768px) {
  .who__title {
    font-size: calc(14px + 6 * (100vw / 768));
  }
}
@media screen and (max-width: 320px) {
  .who__title {
    font-size: calc(12px + 6 * (100vw / 320));
  }
}
