.who__card-title {
  font-style: normal;
  font-weight: 400;
  font-size: calc(17px + 8 * (100vw / 1330));
  line-height: 127%;

  text-align: center;

  color: #333333;
  margin: 0;
  margin-top: calc(33.74% / (1330 / 100));
}
