.header__mark {
  font-style: normal;
  font-weight: 400;
  font-size: calc(25px + 10 * (100vw / 1330));
  line-height: 120%;
  margin: 0 5px 0 0;

  color: #28a745;
}
@media screen and (max-width: 768px) {
  .header__mark {
    font-size: calc(25px + 10 * (100vw / 768));
  }
}
@media screen and (max-width: 320px) {
  .header__mark {
    font-size: calc(22px + 10 * (100vw / 320));
  }
}
