.about__info-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: calc(12px + 6 * (100vw / 1330));
  line-height: 156%;
  color: #ffffff;
  margin-top: calc(53.35% / (1330 / 100));
  margin-left: calc(62% / (1330 / 100));
  margin-bottom: calc(34.75% / (1330 / 100));
}
