.about__info-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: calc(12px + 6 * (100vw / 1330));
  line-height: 156%;
  color: #ffffff;
  margin-top: 26px;
  margin-left: 30px;
  margin-bottom: 17px;
  margin-right: 44px;
}
@media screen and (max-width: 768px) {
  .about__info-paragraph {
    font-size: calc(12px + 6 * (100vw / 768));
    margin-bottom: 21px;
    margin-right: 39px;
  }
}
